@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model SendCodeViewModel
@{
    ViewData["Title"] = @Localizer["PageTitle"];

    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="abs-fullscreen logout-screen">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-md-4 center">
                <div class="panel panel-white" id="js-alerts">
                    <div class="panel-body">
                        <div class="login-box">
                            <a href="/" class="logo-name text-lg text-center m-b-20">Spine</a>
                            <p class="text-center m-t-md">@Localizer["Text", @Model.Email]</p>
                            <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="m-t-md">
                                <input asp-for="RememberMe" type="hidden" />

                                <div class="form-group m-b-0">
                                    <button type="submit" class="btn btn-success btn-block">@Localizer["Send"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}