@model Companies

@{
    ViewData["Title"] = "Company";
}

@section Stylesheets {
    <environment names="Development">
        <link href="~/plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/x-editable/inputs-ext/address/address.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        @*<script src="~/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>*@
        <script src="~/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/address/address.js"></script>
        <script src="~/js/pages/CompanyIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/bootstrap-editable.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/typeahead.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/address.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/CompanyIndex.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="main-wrapper" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-8">
                    <h2>Company</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Company information</h4>
                    <p>The information below won't be published on the website.</p>
                </div>
                <div class="panel-body">
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr>
                                <td style="width: 35%;">Company name</td>
                                <td style="width: 65%;"><a href="#" id="company" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Company</a></td>
                            </tr>
                            <tr>
                                <td>VAT</td>
                                <td><a href="#" id="vat" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Vat</a></td>
                            </tr>
                            <tr>
                                <td>COC</td>
                                <td><a href="#" id="coc" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Coc</a></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><a href="#" id="email" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Email</a></td>
                            </tr>
                            <tr>
                                <td>Phone number</td>
                                <td><a href="#" id="phonenumber" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.PhoneNumber</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>