@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@model Companies*@

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

@section Stylesheets {
    <environment names="Development">
        <link href="~/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/summernote.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        <script src="~/plugins/summernote-master/summernote.js"></script>
        <script src="~/plugins/summernote-master/summernote-cleaner.js"></script>
        <script src="~/plugins/summernote-master/lang/summernote-nl-NL.js"></script>
        <script src="~/js/pages/WebsiteResources.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/summernote.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/WebsiteResources.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="main-wrapper" style="display: none;">
    <div class="row m-t-md">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-8">
                    <h2>@Localizer["PageTitle"]</h2>
                </div>
                <div class="col-md-4 text-right" id="websiteBtns">
                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                        <a href="/website/resources" class="btn btn-primary" role="button">@Localizer["PageTitle"]</a>
                        <a href="/website/files" class="btn btn-default" role="button">@Localizer["Files"]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="list-content">
                <table class="hidden">
                    <tr id="cloneRowObject" class="resourceRow">
                        <td id="resourceDescription" class="hidden-xs"></td>
                        <td id="resourceText" class="show-html-raw">
                            <div id="colorBox" class="color-box hidden"></div>
                            <div id="textBox"></div>
                        </td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="hidden-xs">@Localizer["Description"]</th>
                                <th>@Localizer["Resource"]</th>
                            </tr>
                        </thead>
                        <tbody id="resources"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Edit"]</h4>
            </div>
            <div class="modal-body">
                <div id="checkbox" class="checkbox hidden">
                    <label>
                        <input type="checkbox" />
                    </label>
                </div>
                <div id="radio" class="checkbox hidden">
                    <label>
                        <input type="radio" />
                    </label>
                </div>
                <input id="input" class="form-control hidden">
                <textarea id="textarea" class="form-control hidden"></textarea>
                <div id="html5Editor" class="hidden"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="save">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

<input id="websiteLanguageId" type="hidden" value="@ViewBag.WebsiteLanguageId" />