@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@section Stylesheets {
        <environment names="Development">
            <link href="~/plugins/nestable/nestable.css" rel="stylesheet" type="text/css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/minified/bootstrap-tagsinput.min.css" asp-append-version="true" />
        </environment>
    }*@

@section Scripts {
    <environment names="Development">
        <script src="~/js/pages/ReviewIndex.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/ReviewIndex.min.js" asp-append-version="true"></script>
    </environment>
}

@*<div class="page-title">
        <h3 class="breadcrumb-header">Reviews</h3>
    </div>*@
<div id="main-wrapper" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-12">
                    <h2 id="reviewsTitle"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox p-h-sm">
                            <label class="no-s">
                                <input type="checkbox" id="checkBeforeOnline">@Localizer["CheckReviews"]
                            </label>
                        </div>
                    </div>
                </div>

                <table class="hidden">
                    <tr id="CloneRowObject">
                        <td>
                            <a href="/reviews/edit/" class="reviewLink full-link"></a>
                            <i class="fa fa-eye" id="viewedByAdmin"></i>
                        </td>
                        <td id="reviewName"><a href="/reviews/edit/" class="reviewLink full-link"></a></td>
                        <td id="reviewEmail"><a href="/reviews/edit/" class="reviewLink full-link"></a></td>
                        <td id="reviewRating"><a href="/reviews/edit/" class="reviewLink full-link"></a></td>
                        <td id="reviewCreatedAt"><a href="/reviews/edit/" class="reviewLink full-link"></a></td>
                        <td id="reviewStatus"><a href="/reviews/edit/" class="reviewLink full-link"></a></td>
                    </tr>
                </table>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Localizer["Viewed"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["Email"]</th>
                                <th>@Localizer["Rating"]</th>
                                <th>@Localizer["CreatedAt"]</th>
                                <th>@Localizer["Status"]</th>
                            </tr>
                        </thead>
                        <tbody id="reviews">
                            <tr id="noData">
                                <td colspan="6" class="text-center">@Localizer["NoData"]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modelAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["Sure"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="save">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

<input id="reviewTemplateId" type="hidden" value="@(ViewContext.RouteData.Values["id"])" />