@model Companies

@{
    ViewData["Title"] = "PDF Test";

    Layout = "~/Views/Shared/_Login.cshtml";
}

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-8">
                    <h2>PDF Test</h2>
                </div>
            </div>
        </div>
        @*<div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Company information</h4>
                        <p>The information below won't be published on the website. This is strict for the administration for Unveil.</p>
                    </div>
                    <div class="panel-body">
                        <table id="user" class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                                <tr>
                                    <td style="width: 35%;">Company name</td>
                                    <td style="width: 65%;"><a href="#" id="company" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Company</a></td>
                                </tr>
                                <tr>
                                    <td>VAT</td>
                                    <td><a href="#" id="vat" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Vat</a></td>
                                </tr>
                                <tr>
                                    <td>COC</td>
                                    <td><a href="#" id="coc" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Coc</a></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="#" id="email" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.Email</a></td>
                                </tr>
                                <tr>
                                    <td>Phone number</td>
                                    <td><a href="#" id="phonenumber" data-type="text" data-pk="@Model.Id" class="editable editable-click" style="display: inline;">@Model.PhoneNumber</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>*@
    </div>
</div>