@model DefaultViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ int WebsiteId = 0;
    int WebsiteCount = 0; }
@if (Model.WebsiteBundles != null)
{
    WebsiteCount = Model.WebsiteBundles.Count();
    if (WebsiteCount > 0)
    {
        WebsiteId = ViewBag.WebsiteId;
    }
}


<div class="navbar">
    <div class="navbar-inner">
        <div class="sidebar-pusher visible-xs">
            <a href="javascript:void(0);" class="waves-effect waves-button push-sidebar">
                <i class="icon-arrow-right"></i>
            </a>
        </div>
        <div class="logo-box hidden-xs">
            <svg version="1.1" class="logo logo-center" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 70.8 33.4" style="enable-background:new 0 0 70.8 33.4;" xml:space="preserve">
            <g>
            <path d="M1.2,23.6c0-1.1,0.2-1.3,1.2-1.1c1.5,0.4,3,0.6,4.6,0.6c2.1,0,2.9-0.3,2.9-1.3c0-0.8-0.4-1.2-2-1.9l-3.4-1.5
            c-2.1-0.9-3.1-2-3.1-4.2c0-2.9,1.8-4.2,6-4.2c1.3,0,2.5,0.2,3.6,0.5c1.1,0.3,1.3,0.5,1.3,1.6v0.4c0,1.1-0.3,1.3-1.3,1.1
            c-1.2-0.3-2.4-0.5-3.7-0.5c-2,0-2.7,0.4-2.7,1.3c0,0.7,0.4,1.1,1.5,1.6l3.6,1.6c2.3,1,3.3,2.1,3.3,4.4c0,3-1.9,4.4-6.3,4.4
            c-1.5,0-3-0.2-4.3-0.5c-1-0.3-1.2-0.5-1.2-1.5V23.6z" />



            <path d="M16.2,16.6c0-4.5,2.6-6.7,7.1-6.7c4.8,0,7.2,2.1,7.2,6.7v2.7c0,4.5-2.2,6.8-6.5,6.8c-2.2,0-3.7-0.7-4.6-2v6.5
            c0,1.1-0.3,1.4-1.4,1.4h-0.4c-1.1,0-1.4-0.3-1.4-1.4V16.6z M27.3,16.7c0-2.6-0.8-3.7-3.9-3.7c-3,0-4,1.1-4,3.7v2.7
            c0,2.6,0.9,3.7,4,3.7c3,0,3.9-1.1,3.9-3.7V16.7z" />



            <path d="M34.1,4.1c0.8-0.8,2-0.8,2.8,0c0.8,0.7,0.8,2,0,2.8c-0.7,0.7-2,0.7-2.8,0C33.4,6.1,33.4,4.9,34.1,4.1z M33.9,11.7
            c0-1.1,0.3-1.4,1.4-1.4h0.4c1.1,0,1.4,0.3,1.4,1.4v12.7c0,1.1-0.3,1.4-1.4,1.4h-0.4c-1.1,0-1.4-0.3-1.4-1.4V11.7z" />



            <path d="M44.1,24.4c0,1.1-0.3,1.4-1.4,1.4h-0.4c-1.1,0-1.4-0.3-1.4-1.4V16c0-4,2.3-6.1,6.8-6.1c4.7,0,6.8,2,6.8,6.1v8.4
            c0,1.1-0.3,1.4-1.4,1.4h-0.4c-1.1,0-1.4-0.3-1.4-1.4V16c0-2.1-0.8-3.1-3.6-3.1c-2.8,0-3.6,0.9-3.6,3.1V24.4z" />



            <path d="M71,17.8c-0.1,1.2-0.4,1.4-1.6,1.4h-8.7v0.7c0,2.3,1.3,3.2,4.5,3.2c1.3,0,2.6-0.2,4.1-0.5c1-0.3,1.3,0,1.3,1.1v0.4
            c0,1-0.2,1.2-1.3,1.5c-1.2,0.3-2.6,0.5-4.1,0.5c-5.2,0-7.7-2-7.7-6.7v-2.7c0-4.5,2.3-6.8,6.9-6.8c4.3,0,6.6,2.2,6.6,6.5
            C71,16.9,71,17.3,71,17.8z M60.7,16.6H68v-0.8c0-2.1-1.2-3.1-3.7-3.1c-2.4,0-3.6,1-3.6,3.1V16.6z" />

            </g>
            </svg>
            @*<span>Spine</span>*@
        </div>
        @*<div class="search-button">
                <a href="javascript:void(0);" class="show-search"><i class="icon-magnifier"></i></a>
            </div>*@
        <div class="topmenu-outer">
            <div class="top-menu">
                <ul class="nav navbar-nav navbar-left">
                    <li class="visible-xs">
                        <a href="javascript:void(0);" class="sidebar-toggle">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                            <a href="javascript:void(0);" class="show-search"><i class="icon-magnifier"></i></a>
                        </li>*@

                    @if (Model.WebsiteBundles != null)
                    {
                        if (WebsiteCount > 0)
                        {
                            var _languages = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).Languages;
                            int LanguageCount = _languages.Count();

                            if (LanguageCount > 1)
                            {
                                <li class="dropdown hidden-xs">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        @{ var _websiteLanguage = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).WebsiteLanguages.FirstOrDefault(x => x.Id == ViewBag.WebsiteLanguageId);
                                            var language = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).Languages.FirstOrDefault(x => x.Id == _websiteLanguage.LanguageId);
                                        }
                                        <span class="user-name"><img src="~/svg/languages/icon_@($"{language.Code.ToLower()}").svg" /> @Model.LanguageTranslates.FirstOrDefault(x => x.LanguageId == language.Id && x.Code.ToLower() == "nl").Translate<i class="fa fa-angle-down"></i></span>
                                        @*<img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">*@
                                    </a>
                                    <ul class="dropdown-menu dropdown-list">
                                        @foreach (var i in _languages)
                                        {
                                            int websiteLanguageId = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).WebsiteLanguages.FirstOrDefault(x => x.LanguageId == i.Id).Id;
                                            if (websiteLanguageId == ViewBag.WebsiteLanguageId) { continue; }

                                            <form asp-area="" asp-controller="Website" asp-action="UpdateWebsiteLanguageIdClaimAsync" method="post">
                                                <input type="hidden" name="id" value="@websiteLanguageId" />
                                                <li><button type="submit"><img src="~/svg/languages/icon_@($"{i.Code.ToLower()}").svg" /> @Model.LanguageTranslates.FirstOrDefault(x => x.LanguageId == i.Id && x.Code.ToLower() == "nl").Translate</button></li>
                                            </form>
                                        }
                                    </ul>
                                </li>
                            }

                            if (WebsiteCount > 1)
                            {
                                <li class="dropdown hidden-xs">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        @{ var _website = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).Website;

                                            string Subdomain = "";
                                            if (_website.Subdomain != "")
                                            {
                                                Subdomain = _website.Subdomain + ".";
                                            }
                                            string Url = Subdomain + _website.Domain + "." + _website.Extension;
                                        }
                                        <span class="user-name">@Url<i class="fa fa-angle-down"></i></span>
                                        @*<img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">*@
                                    </a>
                                    <ul class="dropdown-menu dropdown-list">
                                        @foreach (var i in Model.WebsiteBundles)
                                        {
                                            if (i.Website.Id == WebsiteId) { continue; }
                                            Subdomain = "";
                                            if (i.Website.Subdomain != "")
                                            {
                                                Subdomain = i.Website.Subdomain + ".";
                                            }
                                            <form asp-area="" asp-controller="Website" asp-action="UpdateWebsiteClaimAsync" method="post">
                                                <input type="hidden" name="id" value="@i.Website.Id" />
                                                <li><button type="submit">@($"{Subdomain}{i.Website.Domain}.{i.Website.Extension}")</button></li>
                                            </form>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }

                    <li class="dropdown hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="user-name">@UserManager.GetUserName(User)<i class="fa fa-angle-down"></i></span>
                            @*<img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">*@
                        </a>
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                            <ul class="dropdown-menu dropdown-list">
                                <li><a href="~/account/edit"><i class="icon-user"></i>@Localizer["EditAccount"]</a></li>
                                <li><a href="~/account/password"><i class="icon-key"></i>@Localizer["EditPassword"]</a></li>
                                <li class="divider"></li>
                                <li><button type="submit"><i class="icon-logout m-r-xs"></i>@Localizer["LogOut"]</button></li>
                            </ul>
                        </form>
                    </li>

                    <li class="dropdown visible-xs pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-settings"></i></a>
                        <ul class="dropdown-menu dropdown-list">
                            @if (Model.WebsiteBundles != null)
                            {
                                if (WebsiteCount > 0)
                                {
                                    var _languages = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).Languages;
                                    int LanguageCount = _languages.Count();

                                    if (LanguageCount > 1 || WebsiteCount > 1)
                                    {
                                        @if (LanguageCount > 1)
                                        {
                                            <li><b>@Localizer["SwitchLanguage"]</b></li>
                                            @foreach (var i in _languages)
                                            {
                                                int WebsiteLanguageId = Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).WebsiteLanguages.FirstOrDefault(x => x.LanguageId == i.Id).Id;
                                                if (WebsiteLanguageId == ViewBag.WebsiteLanguageId) { continue; }

                                                <form asp-area="" asp-controller="Website" asp-action="UpdateWebsiteLanguageIdClaimAsync" method="post">
                                                    <input type="hidden" name="id" value="@WebsiteLanguageId" />
                                                    <li><button type="submit"><img src="~/svg/languages/icon_@($"{i.Code.ToLower()}").svg" />@Model.LanguageTranslates.FirstOrDefault(x => x.LanguageId == i.Id && x.Code.ToLower() == "nl").Translate</button></li>
                                                </form>
                                            }
                                        }

                                        @if (LanguageCount > 1 && WebsiteCount > 1)
                                        {
                                            <li class="divider"></li>
                                        }

                                        @if (WebsiteCount > 1)
                                        {
                                            <li><b>@Localizer["SwitchWebsite"]</b></li>
                                            @foreach (var i in Model.WebsiteBundles)
                                            {
                                                if (i.Website.Id == WebsiteId) { continue; }
                                                string Subdomain = "";
                                                if (i.Website.Subdomain != "")
                                                {
                                                    Subdomain = i.Website.Subdomain + ".";
                                                }
                                                <form asp-area="" asp-controller="Website" asp-action="UpdateWebsiteClaimAsync" method="post">
                                                    <input type="hidden" name="id" value="@i.Website.Id" />
                                                    <li><button type="submit">@($"{Subdomain}{i.Website.Domain}.{i.Website.Extension}")</button></li>
                                                </form>
                                            }
                                        }
                                    }
                                }
                            }

                            <li class="divider"></li>

                            <li><b>@Localizer["Account"]</b></li>
                            <li><a href="~/account/edit"><i class="icon-user"></i>@Localizer["EditAccount"]</a></li>
                            <li><a href="~/account/password"><i class="icon-key"></i>@Localizer["EditPassword"]</a></li>
                            <li class="divider"></li>
                            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <li><button type="submit"><i class="icon-logout m-r-xs"></i>@Localizer["LogOut"]</button></li>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">
        <ul class="menu accordion-menu" id="navigation">

            <li id="navDashboard"><a href="~/dashboard" class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>@Localizer["Dashboard"]</p></a></li>

            @if (User.IsInRole("Administrator") || User.IsInRole("Developer"))
            {
                <li class="droplink" id="navCompany">
                    <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-info"></span><p>@Localizer["Company"]</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        @*<li id="navInformation"><a href="~/company">Information</a></li>*@
                        <li id="navUsers"><a href="~/users">@Localizer["Users"]</a></li>
                    </ul>
                </li>
            }

            @if (Model.WebsiteBundles != null)
            {
                <li class="droplink" id="navOptimization">
                    <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-energy"></span><p>@Localizer["Optimization"]</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li id="navBreadcrumbs"><a href="/breadcrumbs">@Localizer["Breadcrumbs"]</a></li>
                    </ul>
                </li>

                <li id="navPages"><a href="~/pages" class="waves-effect waves-button"><span class="menu-icon icon-list"></span><p>@Localizer["Pages"]</p></a></li>

                @if (Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).WebsiteFields.Count() > 0)
                {
                    <li id="navResources"><a href="~/website/resources" class="waves-effect waves-button"><span class="menu-icon icon-docs"></span><p>@Localizer["Resources"]</p></a></li>
                }
                else if (Model.WebsiteBundles.FirstOrDefault(x => x.Website.Id == WebsiteId).WebsiteUploads.Count() > 0)
                {
                    <li id="navResources"><a href="~/website/files" class="waves-effect waves-button"><span class="menu-icon icon-docs"></span><p>@Localizer["Files"]</p></a></li>
                }

                var count = Model.Navigations.Count();
                if (count == 1)
                {
                    var i = Model.Navigations.FirstOrDefault();
                    <li id="@($"navNavi{i.Id}")"><a href="@($"/navigation/{i.Id}")" class="waves-effect waves-button"><span class="menu-icon icon-layers"></span><p>@i.Name</p></a></li>
                }
                else if (count > 1)
                {
                    <li class="droplink" id="navReviewDropdown">
                        <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-layers"></span><p>@Localizer["Navigations"]</p><span class="arrow"></span></a>
                        <ul class="sub-menu">
                            @foreach (var i in Model.Navigations)
                            {
                                <li id="@($"navNavi{i.Id}")"><a href="@($"/navigation/{i.Id}")">@i.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            }

            @if (Model.Ecommerce.ToLower() == "true")
            {
                <li class="droplink" id="navEcommerce">
                    <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-bag"></span><p>@Localizer["ECommerce"]</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        <li id="navCategories"><a href="/categories">@Localizer["Categories"]</a></li>
                        <li id="navOrders"><a href="/orders">@Localizer["Orders"]</a></li>
                        <li id="navProducts"><a href="/products">@Localizer["Products"]</a></li>
                        <li id="navCommerceSettings"><a href="/commerce-settings">@Localizer["Settings"]</a></li>
                    </ul>
                </li>
            }

            @if (Model.DataTemplates != null || Model.ReviewTemplates != null)
            {
                <li class="droplink" id="modules">
                    <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-grid"></span><p>@Localizer["Components"]</p><span class="arrow"></span></a>
                    <ul class="sub-menu">
                        @{ var count = Model.ReviewTemplates.Count(); }
                        @if (count == 1)
                        {
                            var i = Model.ReviewTemplates.FirstOrDefault();
                            <li id="@($"navReviews{i.Id}")"><a href="@($"/reviews/{i.Id}")" class="waves-effect waves-button"><span class="menu-icon icon-star"></span><p>@i.Name</p></a></li>
                        }
                        else if (count > 1)
                        {
                            <li class="droplink" id="navReviewDropdown">
                                <a href="#" class="waves-effect waves-button"><span class="menu-icon icon-star"></span><p>@Localizer["Reviews"]</p><span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    @foreach (var i in Model.ReviewTemplates)
                                    {
                                        <li id="@($"navReviews{i.Id}")"><a href="@($"/reviews/{i.Id}")">@i.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @foreach (var i in Model.DataTemplates)
                        {
                            <li id="@($"navData{i.Id}")"><a href="@($"/data/{i.Id}")" class="waves-effect waves-button"><span class="menu-icon @i.Icon"></span><p>@i.Name</p></a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>