@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

@section Stylesheets {
    <environment names="Development">
        <link href="~/plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" type="text/css">
        <link href="~/plugins/x-editable/inputs-ext/address/address.css" rel="stylesheet" type="text/css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <environment names="Development">
        @*<script src="~/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>*@
        <script src="~/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
        <script src="~/plugins/x-editable/inputs-ext/address/address.js"></script>
        <script src="~/js/pages/SettingCommerce.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/bootstrap-editable.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/typeahead.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/address.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/SettingCommerce.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="main-wrapper" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-8">
                    <h2>@Localizer["PageTitle"]</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">@Localizer["EditSettings"]</h4>
                    <p>@Localizer["SettingsSubtitle"]</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h3 class="col-xs-12 m-b-20 m-t-0">@Localizer["InvoiceAndOrders"]</h3>
                    </div>
                    <table id="settings" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr id="invoicePrefix">
                                <td style="width: 35%;">@Localizer["InvoicePrefix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="invoiceSuffix">
                                <td style="width: 35%;">@Localizer["InvoiceSuffix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="invoiceCurrent">
                                <td style="width: 35%;">@Localizer["InvoiceCurrentNumber"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="creditPrefix">
                                <td style="width: 35%;">@Localizer["CreditPrefix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="creditSuffix">
                                <td style="width: 35%;">@Localizer["CreditSuffix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="orderPrefix">
                                <td style="width: 35%;">@Localizer["OrderPrefix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="orderSuffix">
                                <td style="width: 35%;">@Localizer["OrderSuffix"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="orderCurrent">
                                <td style="width: 35%;">@Localizer["OrderCurrentNumber"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <h3 class="col-xs-12 m-b-20 m-t-20">@Localizer["WebshopInformation"]</h3>
                    </div>
                    <table id="settings" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr id="addressLine1">
                                <td style="width: 35%;">@Localizer["Address"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="zipCode">
                                <td style="width: 35%;">@Localizer["ZipCode"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="city">
                                <td style="width: 35%;">@Localizer["City"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="country">
                                <td style="width: 35%;">@Localizer["Country"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="coc">
                                <td style="width: 35%;">@Localizer["ChamberOfCommerce"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                            <tr id="vat">
                                <td style="width: 35%;">@Localizer["VatNumber"]</td>
                                <td style="width: 65%;"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div> 