@model PageAddViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Stylesheets {
    <environment names="Development">
        <link href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/nestable/nestable.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/cropper-master/cropper.min.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/bootstrap-tagsinput.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/summernote.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/nestable.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/dropzone.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/plupload.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/bootstrap-colorpicker.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/select2.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/bootstrap-datepicker.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/bootstrap-timepicker.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/minified/cropper-master.min.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <script>
        var unauthorized = "@Localizer["Unauthorized"]",
            nameValidation = "@Localizer["NameValidation"]",
            titleValidation = "@Localizer["TitleValidation"]",
            addCategory = "@Localizer["AddCategory"]",
            editCategory = "@Localizer["EditCategory"]",
            editPage = "@Localizer["EditPage"]",
            save = "@Localizer["Save"]",
            clean = "@Localizer["Clean"]";
    </script>

    <environment names="Development">
        <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script src="~/plugins/summernote-master/summernote.js"></script>
        <script src="~/plugins/summernote-master/summernote-cleaner.js"></script>
        <script src="~/plugins/summernote-master/summernote-image-attributes.js"></script>
        <script src="~/plugins/nestable/jquery.nestable.js"></script>
        <script src="~/plugins/dropzone/dropzone.min.js"></script>
        <script src="~/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script src="~/plugins/plupload/js/plupload.full.min.js"></script>
        <script src="~/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="~/plugins/select2/js/select2.min.js"></script>
        <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script src="~/plugins/cropper-master/cropper.min.js"></script>
        <script src="~/plugins/toblob/canvas-toBlob.js"></script>
        <script src="~/js/pages/PageAdd.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/minified/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/summernote.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/nestable.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/dropzone.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/bootstrap-wizard.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/plupload.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/jquery-validate.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/select2.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/bootstrap-timepicker.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/cropper-master.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/canvas-toBlob.min.js" asp-append-version="true"></script>
        <script src="~/js/minified/PageAdd.min.js" asp-append-version="true"></script>
    </environment>
}

<div id="main-wrapper" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row list-header">
                <div class="col-md-12">
                    <h2 id="pageTitle" class="hidden">@Localizer["AddPage"]</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white panel-page">
                <div class="panel-body">
                    <div id="rootwizard">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-info m-r-xs"></i>@Localizer["Information"]</a></li>
                            <li role="presentation" class="resourcesTab"><a href="#tab2" data-toggle="tab"><i class="fa fa-file-text-o m-r-xs"></i>@Localizer["Resources"]</a></li>
                            <li role="presentation" class="imagesTab"><a href="#tab3" data-toggle="tab"><i class="fa fa-files-o m-r-xs"></i>@Localizer["Files"]</a></li>
                            <li role="presentation" class="settingsTab" id="settingsTab"><a href="#tab4" data-toggle="tab"><i class="fa fa-wrench m-r-xs"></i>@Localizer["Settings"]</a></li>
                        </ul>
                        <form id="wizardForm">
                            <div class="tab-content">
                                <div class="tab-pane active fade in" id="tab1">
                                    <div class="row no-m m-b-lg">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-3 control-label">
                                                    <h3 id="rootTitle" class="hidden m-b-20">@Localizer["RootPage"]</h3>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="pageTemplate">@Localizer["Template"]</label>
                                                    <select class="form-control" id="pageTemplate">
                                                        @foreach (var i in Model.PageTemplates)
                                                        {
                                                            <option data-id="@i.Id">@i.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="name">@Localizer["Name"]</label>
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="title">@Localizer["Title"]</label>
                                                    <input type="text" class="form-control valid" name="title" id="title" aria-invalid="false">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="url" style="display: block;">@Localizer["Slug"]<small class="text-right pull-right">@Localizer["SlugExample"]</small></label>
                                                    <div class="input-group input-append bootstrap-timepicker no-border">
                                                        <span id="exampleUrl" class="input-group-addon hidden-xs" style="direction: rtl; max-width: 150px; overflow: hidden;">@Model.Url</span>
                                                        <input type="text" class="form-control col-md-6" name="url" id="url">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group tags-input col-md-12">
                                                    <label for="keywords">@Localizer["Keywords"]</label>
                                                    <input type="text" id="keywords" name="keywords" data-role="tagsinput" class="form-control" style="display: none;">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="description">@Localizer["Description"]</label>
                                                    <textarea class="form-control" name="description" id="description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-m">
                                        <div class="col-xs-12">
                                            <a class="btn btn-success pull-right" id="savePage">@Localizer["Add"]</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="row no-m">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-horizontal">
                                                <div class="form-group hidden" id="cloneObject">
                                                    <label id="heading" class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-9">
                                                        <div id="checkbox" class="checkbox hidden">
                                                            <label>
                                                                <input type="checkbox" id="cb" />
                                                            </label>
                                                        </div>
                                                        <input type="text" class="form-control rgba hidden" id="rgba" data-color-format="rgba">
                                                        <input id="input" class="form-control hidden">
                                                        <textarea id="textarea" class="form-control hidden"></textarea>
                                                        <div id="html5Editor" class="hidden"></div>
                                                        <select id="select" class="form-control hidden" style="display: none; width: 100%"></select>
                                                    </div>
                                                </div>

                                                <div id="pageTemplateFields"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-m">
                                        <div class="col-xs-12">
                                            <a class="btn btn-success pull-right" id="saveResources">@Localizer["Save"]</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <div class="row no-m hidden pageUploadField" id="cloneUploadObject">
                                        <div class="col-md-12">
                                            <div class="panel panel-white">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"></h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div id="uploader">
                                                                <p>@Localizer["BrowserSupport"]</p>
                                                            </div>
                                                        </div>

                                                        <ul class="hidden">
                                                            <li class="dd-item page-image-dd-item dd3-item hidden" id="cloneListObject">
                                                                <div class="dd-handle dd3-handle"></div>
                                                                <div class="dd3-content">
                                                                    <div style="max-width: 200px;">
                                                                        <img class="img-responsive hidden" />
                                                                        <div id="video" class="hidden embed-responsive embed-responsive-16by9">
                                                                            <video controls>
                                                                                <source>
                                                                            </video>
                                                                        </div>
                                                                        <div id="pdf" class="hidden">
                                                                            <a target="_blank">
                                                                                <svg style="width:100px;height:100px;margin-top:20px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                                                <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z" />















                                                                                <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z" />















                                                                                <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 " />















                                                                                <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16
                                                                                V416z" />















                                                                                <g>
                                                                                <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48
                                                                                c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z
                                                                                M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z" />















                                                                                <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296
                                                                                c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z" />















                                                                                <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68
                                                                                h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912
                                                                                c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z" />















                                                                                </g>
                                                                                <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z" />















                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                <g>
                                                                                </g>
                                                                                </svg>
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-xs-12 m-b-sm">
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" id="alt">
                                                                                <span class="input-group-btn">
                                                                                    <a class="btn btn-success saveAlt">
                                                                                        <i class="fa fa-save"></i>
                                                                                    </a>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <div id="checkbox" class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" id="active" class="active" />
                                                                                    @Localizer["Active"]
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-20">
                                                                        <div class="col-md-6 col-xs-12" id="cropHolder">
                                                                            <a class="btn btn-default btn-block" id="openCropMdl">@Localizer["Crop"]</a>
                                                                        </div>
                                                                        <div class="col-md-6 col-xs-12">
                                                                            <a class="btn btn-alert btn-block openDeleteFileModal pull-right ">@Localizer["Delete"]</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal fade" id="imageCropMdl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                <h4 class="modal-title" id="myLargeModalLabel">@Localizer["CropImage"]</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-8">
                                                                                        <div class="image-crop">
                                                                                            <img style="max-width: 100%;" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12">
                                                                                                <div class="img-preview"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row m-t-20 image-quality">
                                                                                            <label class="col-xs-12">@Localizer["Quality"] <span id="quality">(45)</span></label>
                                                                                            <div class="col-xs-12">
                                                                                                <input class="range-slider" min="1" max="100" type="range" value="45" id="qualitySlider">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12">
                                                                                                <a class="btn btn-success m-t-20" id="crop">@Localizer["CropImage"]</a>
                                                                                                <a class="btn btn-alert m-t-20 m-l-xs" data-dismiss="modal">@Localizer["Close"]</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        <div class="col-md-6">
                                                            <a class="btn btn-success hidden saveImageOrder">@Localizer["SaveOrder"]</a>
                                                            <div class="dd nestable">
                                                                <ol class="dd-list"></ol>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="pageTemplateUploads"></div>
                                </div>
                                <div class="tab-pane fade in" id="tab4">
                                    <div class="row no-m m-b-lg">
                                        <div class="col-lg-2 col-md-3">
                                            <div class="row">
                                                <h3 class="col-xs-12 m-b-20 m-t-0">@Localizer["Options"]</h3>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-xs-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="pageActive"> @Localizer["Publish"]
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row m-t-20">
                                                <div class="col-xs-12">
                                                    <a class="btn btn-alert btn-block" data-toggle="modal" data-target="#modalDeleteAlert">@Localizer["Delete"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalPageStatusAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["SureStatus"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="savePageStatus" data-dismiss="modal" aria-label="Close">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalStatusAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["SureStatusFile"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveFileStatus">@Localizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalDeleteAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["SureDelete"]

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alert" id="deletePage" data-dismiss="modal" aria-label="Close">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modelDeleteImageAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["SureDeleteFile"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alert" id="deleteImage">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modelAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["ContinueSave"]
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn-block" id="close">@Localizer["DoNotSave"]</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-success btn-block" id="save">@Localizer["SaveChanges"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalCreateAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">@Localizer["Warning"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["Create"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="create">@Localizer["SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>

<input id="pageId" type="hidden" value="@(ViewContext.RouteData.Values["id"])" />